body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

#content_background {
  background: #496c0c;
  opacity: 1;
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#content {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 2;
  overflow: hidden;
}

#content p,
#content h2,
#content span,
#content a {
  position: absolute;
  background: #c0c;
  z-index: 2;
}

#content img {
  position: absolute;
  width: 200vmax;
  height: auto;
  left: 0;
  top: 0;
  z-index: 1;
}

#code_display {
  font-family: 'Special Elite';
  color: #0C0;
  line-height: 1.4;
  background: #000;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 0;
}

canvas {
  border: 1px black solid;
}

#textCanvas {
  background: #0f0;
  /*
    display: none;
	*/
}

a {
  cursor: pointer;
}