@charset "UTF-8";

@font-face {
    font-family: 'Schrift';
	font-style: normal;
	font-weight:lighter;
    src: url('schrift/schrift.ttf');
}
html, body {
	width:100%;
	height:100%;
	margin:0;
	padding:0;
	background:#fff;
}
body {
	font-family:'Schrift', Futura, Arial, Helvetica, sans-serif;
	font-weight:lighter;
	font-size:16px;
}
a:link {
	color: inherit;
	text-decoration: none;
	outline:0 none;
}
a:visited {
	text-decoration: none;
	color: inherit;
}
a:hover {
	text-decoration: none;
	color: #fff;
	padding:17px 8px;
	background: #999;
}
a:active {
	text-decoration: none;
}
.intro {
	background: url("../images/bg_intro.jpg") no-repeat fixed center center / cover ;
}
.Irritationen,
.irritations {
	background: url("../images/bg_irritations.jpg") no-repeat fixed center center / cover ;
}
.Code_sehen,
.view_code {
	background: #111 ;
	font-family: 'Source Code Pro', monospace;
	color: #0f0;
	
    font-size: 1vh;
	
    padding: 200px 0 200px 75px;
	
    width: calc(100% - 75px) !important;
    height: calc(100% - 400px) !important;
    overflow: hidden;
	
    -webkit-column-count: 2; /* Chrome, Safari, Opera */
    -moz-column-count: 2; /* Firefox */
    column-count: 2;
    -webkit-column-rule-style: solid; /* Chrome, Safari, Opera */
    -moz-column-rule-style: solid; /* Firefox */
column-rule-style: solid;
    -webkit-column-gap: 32px; /* Chrome, Safari, Opera */
    -moz-column-gap: 32px; /* Firefox */
column-gap: 32px;
    -webkit-column-rule-width: 1px; /* Chrome, Safari, Opera */
    -moz-column-rule-width: 1px; /* Firefox */
column-rule-width: 1px;	
    -webkit-column-fill: auto; /* try */
    -moz-column-fill: auto; /* Firefox */
    column-fill: auto;
}
.Code_sehen div,
.view_code div {
border-left:1px solid #0f0;
height:calc(100% - 400px);
position:absolute;
top:200px;
margin-left: -16px;
}
.Arbeiten,
.jobs {
	background:
		url("../images/bg_job_abo.jpg") no-repeat fixed 75px 200px,
		url("../images/bg_job_gua.jpg") no-repeat fixed center 200px,
		url("../images/bg_job_bod.jpg") no-repeat fixed calc(100% - 75px) 200px,
		url("../images/bg_job_zae.jpg") no-repeat fixed 75px calc(100% - 200px),
		url("../images/bg_job_sil.jpg") no-repeat fixed center calc(100% - 200px),
		url("../images/bg_job_vie.jpg") no-repeat fixed calc(100% - 75px) calc(100% - 200px)
		;
		
	background-size: calc(30% - 50px) auto;

}

.andere_Objekte,
.other_objects {
	background:
		url("http://www.abotsi.com/2/big/4.jpg") no-repeat fixed 75px 200px,
		url("http://www.abotsi.com/2/big/12.jpg") no-repeat fixed center 200px,
		url("http://www.abotsi.com/2/big/6.jpg") no-repeat fixed calc(100% - 75px) 200px,
		url("http://www.abotsi.com/2/big/24.jpg") no-repeat fixed 75px calc(100% - 200px),
		url("http://www.abotsi.com/2/big/5.jpg") no-repeat fixed center calc(100% - 200px),
		url("http://www.abotsi.com/2/big/16.jpg") no-repeat fixed calc(100% - 75px) calc(100% - 200px)
		;

	background-size: calc(30% - 50px) auto;

}

@media all and (max-width: 100vh) {

	.Arbeiten,
	.jobs {
		background:
			url("../images/bg_job_abo.jpg") no-repeat fixed 75px 200px,
			url("../images/bg_job_gua.jpg") no-repeat fixed calc(100% - 75px) 200px,
			
			url("../images/bg_job_bod.jpg") no-repeat fixed 75px center,
			url("../images/bg_job_zae.jpg") no-repeat fixed calc(100% - 75px) center,
			
			url("../images/bg_job_sil.jpg") no-repeat fixed 75px calc(100% - 200px),
			url("../images/bg_job_vie.jpg") no-repeat fixed calc(100% - 75px) calc(100% - 200px)
			;
			
		background-size: auto calc(30% - 134px);
	
	}
	
	.andere_Objekte,
	.other_objects {
		background:
			url("http://www.abotsi.com/2/big/4.jpg") no-repeat fixed 75px 200px,
			url("http://www.abotsi.com/2/big/12.jpg") no-repeat fixed calc(100% - 75px) 200px,
			
			url("http://www.abotsi.com/2/big/6.jpg") no-repeat fixed 75px center,
			url("http://www.abotsi.com/2/big/24.jpg") no-repeat fixed calc(100% - 75px) center,
			
			url("http://www.abotsi.com/2/big/5.jpg") no-repeat fixed 75px calc(100% - 200px),
			url("http://www.abotsi.com/2/big/16.jpg") no-repeat fixed calc(100% - 75px) calc(100% - 200px)
			;
	
		background-size: auto calc(30% - 134px);
	
	}

}
.über_mich,
.about_me {
	background: url("../images/bg_mecolored2.jpg") no-repeat fixed center center / cover ;
}
.Kontakt,
.contact {
	background: url("../images/bg_tc_map.jpg") no-repeat fixed center center / cover ;
	/*
  -webkit-filter: saturate(0.18);
  filter: saturate(0.18);
  */
}
#arrow_Canvas {
	left:0;
	top: 0;
	border:0 none;
	display:block;
	position:fixed;
	opacity: 0.9;
}
#imageme {
	position:fixed;
	width:100%;
	top:0;
}
#switchme {
	position:fixed;
	visibility: visible;
	max-width:200px;
	line-height:50px;
	text-align: center;
	vertical-align: middle;
	line-height: 50px;
	color:#fff;
	font-size:14px;
	background: #999;
	border: 0 none;
	cursor: pointer;
	display: inline-block;
}
#switchme span {
	display: block;
	width:100%;
}
#switchme hr {
	border:0 none;
	border-bottom: 1px solid #fff;
	margin: 0;
}
#topme {
	visibility:hidden;
	position:absolute;
	top:0;
}
#bottomme {
	line-height: 50px;
	min-height: 100px;
	border-left:75px rgba(0,0,0,0) solid;
	border-right:75px rgba(0,0,0,0) solid;
	background:none;
	box-shadow:none;
	/*margin: 0 75px;*/
	position: absolute;
	vertical-align: middle;
	visibility:hidden;
	width: calc(100% - 150px);
}
#scrollme {
	background-color:#0FF;
	position:absolute;
	width:100%;
	/*top:0;*/
	visibility:hidden;
	height:0;
}
.scrollme_content {
	background: #999;
	border: 0 none;
	cursor: pointer;
	display: inline-block;
	height: 50px;
	position: relative;
	visibility: visible;
	text-align: center;
	vertical-align: middle;
	line-height: 50px;
	color:#fff;
	margin: 100px 50px -50px 50px;
	font-size:14px;
}
#titleme {
	background-color:#999;
	position:fixed;
	display: inline-block;
	text-align: center;
	vertical-align: middle;
	color:#fff;
	font-size:18px;
	cursor:pointer;
}
#titleme span {
	font-size:14px;
	float:right;
    position: absolute;
    right: 24px;
}

#content {
	position: absolute;
	top: 50px;
	left: 0;
	right: 0;
	bottom: 0px;
	overflow: scroll;
	-webkit-overflow-scrolling: touch;
}
@media all and (max-width: 1024px) {
.scrollme_content,
#titleme,
#switchme {
	font-size:24px;
}
body {
	font-size:20px;
}
#titleme span {
	display:none;
}
#bottomme {
	width: calc(100% - 50px);
	border-left:25px rgba(0,0,0,0) solid;
	border-right:25px rgba(0,0,0,0) solid;
	visibility:hidden;
	/*margin: 0 25px;*/
	line-height: 40px;
}
#arrow_Canvas {
	opacity: 0;
}
.Code_sehen,
.view_code {
    -webkit-column-count: 1; /* Chrome, Safari, Opera */
    -moz-column-count: 1; /* Firefox */
    column-count: 1;
  height: calc(100% - 275px) !important;
  padding: 75px 0 200px 25px;
  width: calc(100% - 25px) !important;
}

.Code_sehen div,
.view_code div {
	display:none;
}


.Arbeiten,
.jobs {
	background:
		url("../images/bg_job_abo.jpg") no-repeat scroll 25px 100px,
		url("../images/bg_job_gua.jpg") no-repeat scroll calc(100% - 25px) 100px,
		
		url("../images/bg_job_bod.jpg") no-repeat scroll 25px calc(50% + 37.5px),
		url("../images/bg_job_zae.jpg") no-repeat scroll calc(100% - 25px) calc(50% + 37.5px),
		
		url("../images/bg_job_sil.jpg") no-repeat scroll 25px calc(100% - 25px),
		url("../images/bg_job_vie.jpg") no-repeat scroll calc(100% - 25px) calc(100% - 25px)
		;
		
	background-size: calc(50% - 30px) auto;
	
	/*border:#f00 4px solid;*/

}

.andere_Objekte,
.other_objects {
	background:
		url("http://www.abotsi.com/2/big/4.jpg") no-repeat scroll 25px 100px,
		url("http://www.abotsi.com/2/big/12.jpg") no-repeat scroll calc(100% - 25px) 100px,
		
		url("http://www.abotsi.com/2/big/6.jpg") no-repeat scroll 25px calc(50% + 37.5px),
		url("http://www.abotsi.com/2/big/24.jpg") no-repeat scroll calc(100% - 25px) calc(50% + 37.5px),
		
		url("http://www.abotsi.com/2/big/5.jpg") no-repeat scroll 25px calc(100% - 25px),
		url("http://www.abotsi.com/2/big/16.jpg") no-repeat scroll calc(100% - 25px) calc(100% - 25px)
		;

	background-size: calc(50% - 30px) auto;

}

.intro,
.Irritationen,
.irritations {
	opacity: 0.4;
    background-attachment: scroll;
}

.über_mich,
.about_me {
    opacity: 0.2;
    background-attachment: scroll;
}

.Kontakt,
.contact {
    opacity: 1;
    background-attachment: scroll;
}
#switchme {
	line-height: 75px;
	max-width:inherit;
}

}
#cv_table {
	border: 0 none;
	margin: 350px 0 0 0;
	padding: 0;
	position: absolute;
	table-layout: fixed;
	border-spacing: 0;
	width:100%;
}
#cv_table tr:nth-last-child(1) td {
	background:rgba(255, 255, 255, 0.5);
	/*
	-moz-box-shadow:0px 75px 36px 111px  rgba(255, 255, 255, 0.5);
	-webkit-box-shadow:0px 75px 36px 111px  rgba(255, 255, 255, 0.5);
	*/
	box-shadow:0px 75px 36px 111px  rgba(255, 255, 255, 0.5);
}
#cv_table td:nth-child(1) {
	width:20%;
	vertical-align:top;
}
#cv_table td:nth-child(2) {
	width:80%;
	text-align:right;
}


